:root {
  --secondary-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --text-color: #212121;
  --white: #fff;
  --light-blue-color: #2196f3;
  --secondary-color: #757575;
  --alt-white: #f5f4fa;
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
}
.body-header {
  background-color: var(--white);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.blue-logo {
  color: var(--light-blue-color);
}
.black-logo {
  color: var(--text-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}

.link-phone-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.link-phone-mail:hover,
.link-phone-mail:focus {
  color: var(--light-blue-color);
}
.index-main {
}
.main-background {
  background: #2f303a;
}
.head-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.order-button {
  background: var(--light-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
  border: 0cm;
}
.list {
  list-style-type: none;
}
.solutions-list-item,
.list-item {
  color: var(--text-color);
}
.solutions-list-element {
  color: var(--secondary-color);
}
.solutions-list-header {
  text-transform: uppercase;
}
.team-worker {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.our-job-header,
.team-header {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.our-job {
  background-color: var(--white);
}
.team {
  background: var(--alt-white);
}
.team-img-shadow {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.footer {
  background: #2f303a;
}
.white-logo {
  color: var(--white);
}
.link-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}
.link-map:hover,
.link-map:focus {
  color: var(--light-blue-color);
}

/* Portfolio styles */

.portfolio-main {
}
.portfolio-button {
  background: var(--alt-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  border: none;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--light-blue-color);
  color: var(--white);
}

.portfolio-job-list-element {
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid #eeeeee;
}
.portfolio-job-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.portfolio-job-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
